HW1/task1.exe
HW1/task2.exe
HW1/task3.exe
HW3/task5.exe
HW3/task4.exe
HW3/task3.exe
HW3/task2.exe
HW3/task1.exe
HW4/task1.exe
HW4/task2.exe
HW4/task3.exe
HW4/task4.exe
HW4/task5.exe
HW5/task1.exe
.vscode/tasks.json
.vscode/settings.json
HW5/task2.exe
HW5/task3.exe
HW5/task4.exe
HW5/task5.exe
